<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon1"><img src="/img/Sellular Logo.png" alt=""></span>
                        <span class="title">SELLULAR</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/dashboard_icon.png" alt=""></span> -->
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/profile_icon.png" alt=""></span> -->
                        <span class="title">Events</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/eye_icon.png" alt=""></span> -->
                        <span class="title">Products</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/settings_icon.png" alt=""></span> -->
                        <span class="title">Buy and Sell</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/settings_icon.png" alt=""></span> -->
                        <span class="title">Colleges</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/settings_icon.png" alt=""></span> -->
                        <span class="title">Users</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/settings_icon.png" alt=""></span> -->
                        <span class="title">Verification</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/settings_icon.png" alt=""></span> -->
                        <span class="title">College Admin</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/lock_icon.png" alt=""></span> -->
                        <span class="title">User</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!-- <span class="icon"><img src="/img/logout_icon.png" alt=""></span> -->
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">

                <!-- Menu Toggler -->

                <div class="toggle">
                    <div><i class="switch" id="icon"></i></div>
                    <a class="nav-toggle">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>
                    <!-- <img src="/img/menu_icon.png" alt=""> -->
                </div>
                
                <div class="header-title">
                    <span class="icon2"><img src="/img/Sellular Logo.png" alt=""></span>
                    <span class="title2">SELLULAR</span>
                </div>

                <!-- Search Bar -->

                <!-- <div class="search">
                    <label for="">
                        <input type="text" placeholder="Search Here">
                        <img src="/img/search_icon.png" alt="">
                    </label>
                </div> -->

                <!-- Profile Icon -->

                <!-- <div class="user">
                    <img src="/img/profile_icon.png" alt="">
                </div> -->

            </div>

            <!-- cards -->

            <section class="card-container">
                <div class="card">
                    <div class="card-image car-1"></div>
                        Buy and Sell
                </div>
                <div class="card">
                    <div class="card-image car-2"></div>
                        Ecommerce
                </div>
                <div class="card">
                    <div class="card-image car-3"></div>
                        Events
                </div>
                <div class="card">
                    <div class="card-image car-4"></div>
                        Users
                </div>
                <div class="card">
                    <div class="card-image car-5"></div>
                        Colleges
                </div>
            </section>

            <!-- <div class="cardBox">
                <div class="card">
                    <img src="/img/BAS.jpg" alt="sample image">
                    <div class="texts">
                        <p>Buy and Sell</p>
                    </div>
                </div>


            </div> -->

            <!-- graphs -->

            <!-- <div class="graphBox">
                <div class="box">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="box"></div>
            </div> -->



        </div>



    </div>
</body>
<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script src="/js/cross.js"></script>

</html>